@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Periodico Big News</h1>
    <p></a>Programa de admiministracion y visualizacion de noticias creado Por Bernardo Ortiz. Presione el icono de 
    Big News para ver sus noticias</p>

</div>
